<div class="par-home" ng-controller="home_HomeCtrl as home">

    <div class="date">
        <div class="date__prev">&lt;</div>
        <div class="date__current">25. Mai 2015</div>
        <div class="date__next">&gt;</div>
    </div>

    <div class="category">
        <div class="category__item"></div>
        <div class="category__item"></div>
        <div class="category__item"></div>
        <div class="category__item"></div>
    </div>

    <div class="calendar-phase">
        <div class="calendar-phase__phase"></div>
        <div class="calendar-phase__phase"></div>
        <div class="calendar-phase__phase"></div>
        <div class="calendar-phase__phase"></div>
    </div>

    <div class="activity">

    </div>

    <div class="menu">
        <div class="menu__item"></div>
        <div class="menu__item"></div>
        <div class="menu__item"></div>
    </div>
</div>
